 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    
}
.container{
    background-color: yellow;
    height: 820px;

    display: flex;
    flex-direction: column;
}
.header{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.navigation{
    background-color: violet;
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;

}
.logo{
    /*margin-left: 20px;*/
}